# Solution for Investigating Netflix Movies and Guest Stars in The Office

## 1. Loading your friend's data into a dictionary

In [3]:
# Make own dictionary
# Create lists of years and durations

## years from 2011 to 2020
years = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

## average movie durations
durations = [103, 101, 99, 100, 100, 95, 95, 96, 93, 90]

# Create a dictionaru with the two lists : years & durations
movie_dict = {'years': years, 'durations': durations}

# Print the dictionary
print(movie_dict)

{'years': [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020], 'durations': [103, 101, 99, 100, 100, 95, 95, 96, 93, 90]}

# 2. Creating a DataFrame from a dictionary

In [5]:
# Import library pandas using alias
import pandas as pd

# Create a DataFrame from the dictionary
durations_df = pd.DataFrame(movie_dict)

# Print the DataFrame
durations_df

   years  durations
0   2011        103
1   2012        101
2   2013         99
3   2014        100
4   2015        100
5   2016         95
6   2017         95
7   2018         96
8   2019         93
9   2020         90